# ignore python bytecode,
*.pyc
*.wfn
*.wfn.bak-1
*~
*.xml
*.html
pycp2k/classes/*.py
pycp2k/classes/*.pyc
pycp2k/parsedclasses.pyc
pycp2k/config.py
pycp2k.egg-info/
build/
dist/
examples/*.inp
examples/*.out
examples/*.xyz

!pycp2k/classes/__init__.py
