# ignore python bytecode,
*.pyc
*.wfn
*.wfn.bak-1
*~
*.xml
*.html
pycp2k/parsedclasses.pyc
pycp2k.egg-info/
build/
dist/
examples/*.inp
examples/*.out
examples/*.xyz

examples/*.ener
examples/*.inp
examples/*.restart
examples/*.out
examples/*.wfn
examples/*.bak-1
examples/*.bak-2
examples/*.bak-3
